@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

.events-navbar {
    background: #2B295B;
}

.company-name {
    color: #FFF;
    text-align: center;
    font-family: "Jost", serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; 
}

.navs-content {
    color: #FFF;
    text-align: center;
    font-family: "Jost", serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; 
}

.navbar-profile {
    color: #FFF;
    text-align: center;
    font-family: "Jost", serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; 
}

/* .acting-body {
    background: radial-gradient(31.38% 31.38% at 50% 50%, #95FF00 0%, #050C06 100%);
} */

.acting-card {
    border-radius: 15px;
    border: 1px solid #215302;
    background: rgba(0, 15, 1, 0.50);
    backdrop-filter: blur(145.8000030517578px);
}

.game-title {
    color: #79A373;
    font-family: Jost;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.game-value {
    color: #FFF;
    text-align: start;
    font-family: Jost;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.event-select-btn {
    padding: 8px;
    border-radius: 7px;
    border: 1px solid #050702;
    background-color: #215302;
    color: #000;
    font-family: Jost;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
}