.sambar {
  overflow: visible;
}

#avartar {
  cursor: pointer;
}

#lefthand {
  transform: translateY(0);
  transform-origin: left bottom;
  transition: transform 0.3s ease-in-out;
}


#avartar:hover ~ #lefthand {
  transform: translateY(-10px);
}