.cube1 {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: white;
}

.cube1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    background-color: blue;
    transform: translateX(0), translateY(0);
    transition: transform 0.3s ease-in-out;
    animation: squre 3s infinite;
}

@keyframes squre {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(90px);
    }
    50% {
        transform: translateY(90px);
    }
    75% {
        transform: translateX(-90px);
    }
    100% {
        transform: translateY(-90px);
    }
}
