@keyframes float {
    0% {
        transform: translateY(0px) translateX(0px);
    }
    25% {
        transform: translateY(-5px) translateX(3px);
    }
    50% {
        transform: translateY(5px) translateX(-3px);
    }
    75% {
        transform: translateY(-3px) translateX(-5px);
    }
    100% {
        transform: translateY(0px) translateX(0px);
    }
}

/* Select all ellipses and paths (stars) inside the #stars group */
#stars ellipse,
#stars path {
    animation: float 4s ease-in-out infinite alternate;
}

/* Add delay to each star to create random movement */
#stars ellipse:nth-child(odd),
#stars path:nth-child(odd) {
    animation-delay: 0.5s;
}

#stars ellipse:nth-child(even),
#stars path:nth-child(even) {
    animation-delay: 1s;
}
