@import "tailwindcss";

/* Target the path with id 'sibi' inside the SVG */
.rotating-svg-container svg #sibi {
    transform-origin: center center;
    transition: transform 0.3s ease;
  }
  
  /* Hover effect on the path 'sibi' */
  .rotating-svg-container svg #sibi:hover {
    transform: translateY(-30px); /* Move the 'sibi' path up on hover */
  }
  
  