@import "tailwindcss";

.rotating-svg-container #sibi {
    transform-origin: 214px 88.3881px;  /* Set the pivot point to rotate around */
    animation: rotateAnimation 3s linear infinite;  /* Rotate forever, 3s per cycle */
  }
  
  @keyframes rotateAnimation {
    0% {
      transform: rotate(0deg);  /* Start at 0 degrees */
    }
    100% {
      transform: rotate(360deg);  /* End at 360 degrees */
    }
  }
  